@define-color background	#121213;
@define-color foreground	#2259d8;
@define-color selection		#44475a;
@define-color unfocused		#6272a4;
@define-color cyan			#6cb4e9;
@define-color green			#39a639;
@define-color green_fore	#96c496;
@define-color orange		#d65d0e;
@define-color pink			#ff5370;
@define-color purple		#b16286;
@define-color red			#bf6374;
@define-color yellow		#d79921;
@define-color fore          #eef3f5;
@define-color blue-border	#4d94e6;
@define-color cyan-border	#1fbced;
@define-color blue-border-dark	#123787;
@define-color blue-taskbar	#4b8afb;
@define-color blue-taskbar-active	#1951b9;



* {
	font-size: 14px;
	font-family: "Perfect Dos Vga 437";
	padding: 0px;
	margin: 0px;
}

window#waybar {
	color: black;
	border-radius: 0;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
}

window#waybar.top {
	background: #DEDEDE;
	margin: 0;
	border-color: black;
	border-width: 0 0 1 0;
	border-style: solid;
}

window#waybar.bottom {

}

.modules-left,
.modules-center,
.modules-right {
	margin: 0;
	padding: 0;
}
#custom-view{
	padding: 1px 14px 0px 14px;
	font-size:18px;
}
#custom-separator {
	padding: 0px;
	border-width: 0px 1px;
	margin: 0px 0px 1px 0px;
	border-style: solid;
	color: #8C8C8C;
	border-color:#FFFFFF #8C8C8C #8C8C8C #FFFFFF;
	font-size: 10px;
}
#idle_inhibitor,#network, #battery, #memory, #cpu, #backlight, #pulseaudio{
	font-size: 13px;
}
#idle_inhibitor{
	padding: 0px 0px 0px 8px;
	border-width: 2px 0px 0px 2px;
}
#workspaces {
}
#workspaces button{
	padding: 0px 3px;
	color: black;
	background-color: rgba(0,0,0,0);
	font-weight: bold;
}
#workspaces button.focused {
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-radius: 0px;
}


#mode {
	color: @orange;
}


#battery.warning,
#cpu.warning,
#memory.warning {
	color: @orange;
}

#battery.critical,
#cpu.critical,
#custom-auroch.error,
#custom-updates.error,
#disk.1.critical,
#disk.2.critical,
#memory.critical {
	color: @red;
}

#custom-auroch.no-updates,
#custom-covid.DOWN,
#custom-updates.no-updates {
	color: @yellow;
}
#custom-updates.updates,
#custom-auroch.updates {
	color: @yellow;
}

#taskbar,
#tray{
	padding: 0;
	margin: 0 0px 0 0px;
}
#taskbar {
	background: #C6C6C6;
}
#taskbar button {
	color: @fore;
	padding: 0px 3px 0px 3px;
	border-style: solid;
	border-width: 1px 1px 1px 0px ;
	border-color: black;
	border-radius:0;
}
#taskbar button.active {
	background-color: #969696;
}
#custom-menu{
	padding: 0px 15px 0px 15px;
	font-size: 17px;
	margin: 0px 0px 1px 0px;
  	font-weight: bold;
	background-image: url('logo.png');
	background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px;
}

#tray {
	padding: 0 5px 0px 5px;

}
#window{
	margin: 0px 0px 1px 0px;
	font-weight:bold;
	padding: 0px 10px 0px 8px;
}

/* Base styling for modules */
#idle_inhibitor,
#pulseaudio,
#memory,
#cpu,
#battery,
#backlight,
#custom-updates,
#custom-auroch,
#tray {
	padding: 0px 5px 0 5px;
	font-size: 18px;
}

#language,
#clock{
	font-weight:bold;
	padding: 0px 5px 0 5px;
	margin: 0px 0px 1px 0px;
}

#custom-shutdown{
	padding: 0px 15px 0px 15px;
	font-size: 16px;
}
