* {
	background-image: none;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
window {
  font-size: 26px;
  animation: fadeIn;
  animation-duration: 0.5s;
}
button, button:focus {
  background-repeat: no-repeat;
	background-position: center;
	margin:20;
}
button:active, button:hover {
}
