@define-color background	#eeeeee;
@define-color foreground	#2c2e2f;
@define-color selection		#44475a;
@define-color unfocused		#6272a4;
@define-color cyan			#6cb4e9;
@define-color green			#3e6656;
@define-color orange		#d65d0e;
@define-color pink			#ff5370;
@define-color purple		#b16286;
@define-color red			#bf6374;
@define-color yellow		#d79921;
@define-color fore          #383a3b;


* {
	font-size: 10px;
	font-family: "Hack";
	padding: 0px;
	margin: 0px;
}

window#waybar {
	color: @background;
	border-radius: 0;
}

window#waybar.left {
	background: @green;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: none;
	margin: 0;
}

window#waybar.bottom {
	padding-top: 0px;
	background: @foreground;
	border-bottom-left-radius: 0px;
	margin: 0;
}

.modules-left,
.modules-center,
.modules-right {
	margin: 0;
	padding: 0;
}

/* Base styling for modules */
#workspaces,
#mode,
#window,
#idle_inhibitor,
#custom-weather,
#pulseaudio,
#memory,
#cpu,
#clock,
#battery,
#backlight,
#disk,
#custom-updates,
#custom-auroch,
#custom-swap,
#custom-separator,
#custom-shutdown,
#custom-reboot,
#custom-covid,
#taskbar,
#tray {
	padding: 0px 3px 0 3px;
}
#custom-shutdown{
	padding: 0px 10px 0px 10px;
	font-size:18px;
}
#custom-view{
	padding: 1px 14px 0px 14px;
	font-size:18px;
}
#custom-separator {
	opacity: 0;
	padding: 0px;
}
#idle_inhibitor,#network, #battery, #memory, #cpu, #backlight, #pulseaudio{
	font-size: 15px;
}
#workspaces {
	background-color: @fore;
	padding: 0px 90px 0px 0px;
	margin-left: 0px;
}
#workspaces button {
	color: @background;
	margin: 0;
	padding: 0px 0px 0px 0px;
}

#workspaces button.focused {
	border-style: solid;
	border-width: 0 0 2 0;
	border-color: @cyan;
	border-radius: 0;
	color: @background;
}

#mode {
	color: @orange;
}


#battery.warning,
#cpu.warning,
#memory.warning {
	color: @orange;
}

#battery.critical,
#cpu.critical,
#custom-auroch.error,
#custom-updates.error,
#disk.1.critical,
#disk.2.critical,
#memory.critical {
	color: @red;
}

#custom-auroch.no-updates,
#custom-covid.DOWN,
#custom-updates.no-updates {
	color: @yellow;
}
#custom-updates.updates,
#custom-auroch.updates {
	color: @yellow;
}

#taskbar,
#tray,

#taskbar {
	margin-top: 0px;
}
#taskbar button {
	color: @background;
	border-radius: 0px;
	padding: 0px 9px 0px 9px;
}
#custom-menu{
	padding: 0px 7px 0px 7px;
	font-size: 22px;
}
#taskbar button.active {
	border-style: solid;
	border-width: 0 0 2 0;
	border-color: @cyan;
	background-color:@fore;
}

#tray {
	padding: 0 3px 0px 3px;

}
#window {
	padding: 0px 10px 0px 10px;
}
